<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Spinus psaltria</key>
	<string>AWGH2Hw</string>
	<key>Acanthis flammea</key>
	<string>dEa9ekv</string>
	<key>Accipiter cooperii</key>
	<string>2KFlfcT</string>
	<key>Anas laysanensis</key>
	<string>C3UO5cw</string>
	<key>Aphelocoma californica</key>
	<string>yiLDFyt</string>
	<key>Branta bernicla</key>
	<string>D7dd41C</string>
	<key>Brachyramphus brevirostris</key>
	<string>9h040aV</string>
	<key>Bonasa umbellus</key>
	<string>NYyfPmY</string>
	<key>Brotogeris chiriri</key>
	<string>2p2kIeO</string>
	<key>Anas fulvigula</key>
	<string>NBKMvmo</string>
	<key>Brotogeris versicolurus</key>
	<string>1Y7mQvB</string>
	<key>Branta sandvicensis</key>
	<string>U0dp0w7</string>
	<key>Buteo lineatus</key>
	<string>GQnH77T</string>
	<key>Aythya marila</key>
	<string>zqD8E59</string>
	<key>Botaurus lentiginosus</key>
	<string>U1ste3w</string>
	<key>Calidris himantopus</key>
	<string>SFGzEnz</string>
	<key>Branta canadensis</key>
	<string>opybRbq</string>
	<key>Calidris maritima</key>
	<string>OmzPlXH</string>
	<key>Bucephala clangula</key>
	<string>vY2Vccf</string>
	<key>Calidris ptilocnemis</key>
	<string>SgF5VVB</string>
	<key>Calidris pusilla</key>
	<string>whPCd5U</string>
	<key>Calidris melanotos</key>
	<string>VBaVL6P</string>
	<key>Calidris fuscicollis</key>
	<string>ynHzXEY</string>
	<key>Calidris mauri</key>
	<string>feOIR1R</string>
	<key>Calidris minutilla</key>
	<string>8PMAvT5</string>
	<key>Calidris subruficollis</key>
	<string>1QOro6h</string>
	<key>Coccothraustes vespertinus</key>
	<string>c6X7rY3</string>
	<key>Cygnus columbianus</key>
	<string>EMkkEcW</string>
	<key>Corvus hawaiiensis</key>
	<string>sJK2B1t</string>
	<key>Cyanocorax yncas</key>
	<string>sB7ffUv</string>
	<key>Cynanthus latirostris</key>
	<string>d8FGWJN</string>
	<key>Chaetura vauxi</key>
	<string>OG4xdLH</string>
	<key>Cygnus olor</key>
	<string>HaiBjWg</string>
	<key>Contopus sordidulus</key>
	<string>fPKSR9u</string>
	<key>Cyanocitta cristata</key>
	<string>uJl9sa0</string>
	<key>Corvus cryptoleucus</key>
	<string>YtW8EEr</string>
	<key>Cypseloides niger</key>
	<string>N2DImTe</string>
	<key>Cygnus buccinator</key>
	<string>VBisH0U</string>
	<key>Cyanocitta stelleri</key>
	<string>YMKrpfA</string>
	<key>Cyrtonyx montezumae</key>
	<string>Xi5mQlI</string>
	<key>Coturnicops noveboracensis</key>
	<string>GaJQWLz</string>
	<key>Copsychus malabaricus</key>
	<string>xdcyXia</string>
	<key>Crotophaga ani</key>
	<string>3SIhOQ8</string>
	<key>Corvus ossifragus</key>
	<string>zDYIFBJ</string>
	<key>Corvus corax</key>
	<string>4RxInNs</string>
	<key>Corvus brachyrhynchos</key>
	<string>m0uqQua</string>
	<key>Crotophaga sulcirostris</key>
	<string>dXkYO3z</string>
	<key>Chen rossii</key>
	<string>h41e3jQ</string>
	<key>Coragyps atratus</key>
	<string>NWJcNlF</string>
	<key>Contopus virens</key>
	<string>gM9YGyn</string>
	<key>Columba livia</key>
	<string>eNQd9fc</string>
	<key>Columbina passerina</key>
	<string>zH4nZmb</string>
	<key>Conuropsis carolinensis</key>
	<string>92kw7XR</string>
	<key>Coccyzus americanus</key>
	<string>Spj4l4r</string>
	<key>Corvus caurinus</key>
	<string>wvixBpz</string>
	<key>Contopus pertinax</key>
	<string>e3LfITg</string>
	<key>Coccyzus minor</key>
	<string>PdR8M7C</string>
	<key>Columbina inca</key>
	<string>KwK9BN4</string>
	<key>Contopus cooperi</key>
	<string>AMSSWUT</string>
	<key>Colaptes chrysoides</key>
	<string>IqoeCAi</string>
	<key>Colinus virginianus</key>
	<string>mPHGzhM</string>
	<key>Cardellina canadensis</key>
	<string>MIgAk0R</string>
	<key>Cistothorus palustris</key>
	<string>khRbOWd</string>
	<key>Cinclus mexicanus</key>
	<string>omvAht0</string>
	<key>Coccyzus erythropthalmus</key>
	<string>Q7wzlni</string>
	<key>Chloroceryle americana</key>
	<string>EUUn8xt</string>
	<key>Chondestes grammacus</key>
	<string>EcFT4o8</string>
	<key>Circus cyaneus</key>
	<string>XDbWTWQ</string>
	<key>Cistothorus platensis</key>
	<string>U3NvMWy</string>
	<key>Colaptes auratus</key>
	<string>1wGVadt</string>
	<key>Charadrius montanus</key>
	<string>e6C5rtD</string>
	<key>Chroicocephalus philadelphia</key>
	<string>LY51Gnx</string>
	<key>Clangula hyemalis</key>
	<string>eg34JTY</string>
	<key>Chordeiles minor</key>
	<string>HSHVFfI</string>
	<key>Chordeiles acutipennis</key>
	<string>NjUV3Td</string>
	<key>Calamospiza melanocorys</key>
	<string>8r74oka</string>
	<key>Chlidonias niger</key>
	<string>dId6hZG</string>
	<key>Chasiempis sandwichensis</key>
	<string>clfy7IF</string>
	<key>Chordeiles gundlachii</key>
	<string>GDhBBst</string>
	<key>Charadrius semipalmatus</key>
	<string>nmmqUVd</string>
	<key>Chen canagica</key>
	<string>Gm1iQny</string>
	<key>Chaetura pelagica</key>
	<string>AYmac7a</string>
	<key>Chen caerulescens</key>
	<string>HCzuiBI</string>
	<key>Charadrius wilsonia</key>
	<string>GvFIwoe</string>
	<key>Cardinalis cardinalis</key>
	<string>0PbttWM</string>
	<key>Charadrius melodus</key>
	<string>teoWlwr</string>
	<key>Cardellina rubrifrons</key>
	<string>y5oBqu7</string>
	<key>Charadrius nivosus</key>
	<string>FfE5ePo</string>
	<key>Catharus fuscescens</key>
	<string>bBLnhUY</string>
	<key>Cardinalis sinuatus</key>
	<string>ifVr1hg</string>
	<key>Chamaea fasciata</key>
	<string>3QrrUYo</string>
	<key>Charadrius vociferus</key>
	<string>uRp80Es</string>
	<key>Calcarius ornatus</key>
	<string>gbdXFOq</string>
	<key>Certhia americana</key>
	<string>svB1sN3</string>
	<key>Cepphus grylle</key>
	<string>Eg5T324</string>
	<key>Cerorhinca monocerata</key>
	<string>g4pLA9O</string>
	<key>Catharus ustulatus</key>
	<string>3HhrSxH</string>
	<key>Centrocercus urophasianus</key>
	<string>2i7aqQ2</string>
	<key>Cepphus columba</key>
	<string>Rp75tlT</string>
	<key>Catherpes mexicanus</key>
	<string>VhPNydp</string>
	<key>Cardellina pusilla</key>
	<string>hKHK2uH</string>
	<key>Catharus guttatus</key>
	<string>MqXjXIl</string>
	<key>Catharus bicknelli</key>
	<string>bBLnhUY</string>
	<key>Catharus minimus</key>
	<string>eSYCWXy</string>
	<key>Calidris canutus</key>
	<string>wM5LHoK</string>
	<key>Caracara cheriway</key>
	<string>YOOrK6C</string>
	<key>Calothorax lucifer</key>
	<string>zgch8xa</string>
	<key>Campylorhynchus brunneicapillus</key>
	<string>epgdRP8</string>
	<key>Calypte anna</key>
	<string>1uvdGtX</string>
	<key>Camptostoma imberbe</key>
	<string>gIQq1Vw</string>
	<key>Calidris alpina</key>
	<string>gxDhGws</string>
	<key>Campephilus principalis</key>
	<string>LH3O7zO</string>
	<key>Calypte costae</key>
	<string>gTGRhV1</string>
	<key>Buteo plagiatus</key>
	<string>6DzCjU3</string>
	<key>Calidris bairdii</key>
	<string>I2Kr08f</string>
	<key>Callipepla californica</key>
	<string>2nxa6au</string>
	<key>Calidris alba</key>
	<string>oavJ7ER</string>
	<key>Calidris virgata</key>
	<string>rDXW6v1</string>
	<key>Buteo albicaudatus</key>
	<string>lsUc5mh</string>
	<key>Calcarius lapponicus</key>
	<string>vKgdBOt</string>
	<key>Callipepla squamata</key>
	<string>gY6Uxwa</string>
	<key>Cathartes aura</key>
	<string>Q5Urnrd</string>
	<key>Buteo regalis</key>
	<string>xeqXrbR</string>
	<key>Calcarius pictus</key>
	<string>NKCxUVu</string>
	<key>Callipepla gambelii</key>
	<string>cPEjhNi</string>
	<key>Buteogallus anthracinus</key>
	<string>vnwjI2Y</string>
	<key>Butorides virescens</key>
	<string>JEEgxZh</string>
	<key>Bulweria bulwerii</key>
	<string>G099n7m</string>
	<key>Buteo brachyurus</key>
	<string>zpJzhLj</string>
	<key>Buteo swainsoni</key>
	<string>uAXzPsH</string>
	<key>Buteo platypterus</key>
	<string>k5zlx2L</string>
	<key>Bucephala islandica</key>
	<string>LDQ1bv6</string>
	<key>Buteo solitarius</key>
	<string>enNkTTT</string>
	<key>Buteo jamaicensis</key>
	<string>qQOpcl9</string>
	<key>Bubulcus ibis</key>
	<string>bIVKwLE</string>
	<key>Buteo albonotatus</key>
	<string>7YUZWVF</string>
	<key>Anas platyrhynchos</key>
	<string>C39NHVV</string>
	<key>Bucephala albeola</key>
	<string>B4HFe5T</string>
	<key>Buteo lagopus</key>
	<string>xxAZqjT</string>
	<key>Bartramia longicauda</key>
	<string>wer04LT</string>
	<key>Bombycilla garrulus</key>
	<string>TxW1Edd</string>
	<key>Bubo virginianus</key>
	<string>OIoMAKB</string>
	<key>Bubo scandiacus</key>
	<string>iRQm6qd</string>
	<key>Bombycilla cedrorum</key>
	<string>sxNzqZ0</string>
	<key>Baeolophus wollweberi</key>
	<string>iY6FUko</string>
	<key>Brachyramphus marmoratus</key>
	<string>ZZxMnsr</string>
	<key>Baeolophus bicolor</key>
	<string>KmNUpd7</string>
	<key>Baeolophus atricristatus</key>
	<string>8OzfwI4</string>
	<key>Baeolophus ridgwayi</key>
	<string>HkXmEIy</string>
	<key>Anas clypeata</key>
	<string>CgOI1Dk</string>
	<key>Aythya collaris</key>
	<string>zqD8E59</string>
	<key>Artemisiospiza belli</key>
	<string>gjDQbe3</string>
	<key>Baeolophus inornatus</key>
	<string>5Gi8WxR</string>
	<key>Athene cunicularia</key>
	<string>3z4OTMU</string>
	<key>Accipiter gentilis</key>
	<string>GHdFXLA</string>
	<key>Aythya affinis</key>
	<string>DOmgS34</string>
	<key>Aythya valisineria</key>
	<string>VsmALHk</string>
	<key>Aythya americana</key>
	<string>umPZ1CR</string>
	<key>Anthus spragueii</key>
	<string>PXzPq6t</string>
	<key>Archilochus alexandri</key>
	<string>2x7ZdAg</string>
	<key>Arenaria melanocephala</key>
	<string>Hs4dKn6</string>
	<key>Auriparus flaviceps</key>
	<string>Pqdw7jp</string>
	<key>Aphelocoma wollweberi</key>
	<string>ijE6FD9</string>
	<key>Asio otus</key>
	<string>6Sagi6Y</string>
	<key>Arenaria interpres</key>
	<string>xi33bXr</string>
	<key>Arremonops rufivirgatus</key>
	<string>P6gWjsY</string>
	<key>Ardea herodias</key>
	<string>oLJ2ML8</string>
	<key>Aramus guarauna</key>
	<string>eGNWUgu</string>
	<key>Asio flammeus</key>
	<string>RsyCbTP</string>
	<key>Archilochus colubris</key>
	<string>iFO8zJ7</string>
	<key>Aphelocoma coerulescens</key>
	<string>yiLDFyt</string>
	<key>Ardea alba</key>
	<string>ubD5Mxl</string>
	<key>Antrostomus ridgwayi</key>
	<string>nfqpAcX</string>
	<key>Anthus rubescens</key>
	<string>FJPqK5z</string>
	<key>Anous minutus</key>
	<string>AddFCpO</string>
	<key>Aquila chrysaetos</key>
	<string>9kAJgWO</string>
	<key>Antrostomus vociferus</key>
	<string>iFd0uT1</string>
	<key>Anas rubripes</key>
	<string>5biYoSG</string>
	<key>Anas crecca</key>
	<string>Og7bZsf</string>
	<key>Anas strepera</key>
	<string>ztWmJFA</string>
	<key>Accipiter striatus</key>
	<string>iOyhyWR</string>
	<key>Aphelocoma insularis</key>
	<string>XhbHpuL</string>
	<key>Amphispiza bilineata</key>
	<string>JkSqqqu</string>
	<key>Antrostomus carolinensis</key>
	<string>QpyUc4W</string>
	<key>Anser albifrons</key>
	<string>5tb75dJ</string>
	<key>Anhinga anhinga</key>
	<string>fhOwA1p</string>
	<key>Anous stolidus</key>
	<string>nTVKixO</string>
	<key>Anas wyvilliana</key>
	<string>VeRXQpe</string>
	<key>Acridotheres cristatellus</key>
	<string>eOobMnT</string>
	<key>Anas discors</key>
	<string>TnMc9FS</string>
	<key>Anas cyanoptera</key>
	<string>KPPajuD</string>
	<key>Acridotheres tristis</key>
	<string>lbyXVHt</string>
	<key>Amazona viridigenalis</key>
	<string>1HOe6HO</string>
	<key>Ammodramus savannarum</key>
	<string>J6z2Nh5</string>
	<key>Anas acuta</key>
	<string>1nckhed</string>
	<key>Anas americana</key>
	<string>pScEw5X</string>
	<key>Ammodramus nelsoni</key>
	<string>1o9YIiz</string>
	<key>Amphispiza quinquestriata</key>
	<string>8U3RMMF</string>
	<key>Ammodramus henslowii</key>
	<string>04FQEgh</string>
	<key>Ammodramus maritimus</key>
	<string>sPfsvTR</string>
	<key>Acrocephalus familiaris</key>
	<string>QvhU1ck</string>
	<key>Actitis macularius</key>
	<string>s8QCTGz</string>
	<key>Aechmophorus clarkii</key>
	<string>8429SXA</string>
	<key>Aechmophorus occidentalis</key>
	<string>wRER13l</string>
	<key>Aegolius acadicus</key>
	<string>wX5DDlP</string>
	<key>Aegolius funereus</key>
	<string>mtmOf6h</string>
	<key>Ammodramus caudacutus</key>
	<string>iEbjHEE</string>
	<key>Aeronautes saxatalis</key>
	<string>rR0gI6J</string>
	<key>Aethia cristatella</key>
	<string>xjbJpQw</string>
	<key>Aethia psittacula</key>
	<string>JHxjgyg</string>
	<key>Ammodramus leconteii</key>
	<string>j06L35A</string>
	<key>Aethia pusilla</key>
	<string>WNfqUWd</string>
	<key>Aethia pygmaea</key>
	<string>TrN2Bin</string>
	<key>Agelaius phoeniceus</key>
	<string>RJm44jh</string>
	<key>Agelaius tricolor</key>
	<string>sX3PVyJ</string>
	<key>Aimophila ruficeps</key>
	<string>JucgLah</string>
	<key>Aix sponsa</key>
	<string>f5EzbNt</string>
	<key>Alauda arvensis</key>
	<string>cw3tyE9</string>
	<key>Alca torda</key>
	<string>RghBA2R</string>
	<key>Ammodramus bairdii</key>
	<string>suabTZX</string>
	<key>Alectoris chukar</key>
	<string>iCqv3ia</string>
	<key>Alle alle</key>
	<string>VTlpI3w</string>
	<key>Amazilia violiceps</key>
	<string>VqJwRc0</string>
	<key>Amazilia yucatanensis</key>
	<string>dX3ce0O</string>
	<key>Acanthis hornemanni</key>
	<string>nBf78cL</string>
</dict>
</plist>
