<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Spinus psaltria</key>
	<string>AWGH2Hw</string>
	<key>Acanthis flammea</key>
	<string>dEa9ekv</string>
	<key>Accipiter cooperii</key>
	<string>2KFlfcT</string>
	<key>Anas laysanensis</key>
	<string>C3UO5cw</string>
	<key>Aphelocoma californica</key>
	<string>yiLDFyt</string>
	<key>Anas fulvigula</key>
	<string>NBKMvmo</string>
	<key>Aythya marila</key>
	<string>zqD8E59</string>
	<key>Anas platyrhynchos</key>
	<string>C39NHVV</string>
	<key>Anas clypeata</key>
	<string>CgOI1Dk</string>
	<key>Aythya collaris</key>
	<string>zqD8E59</string>
	<key>Artemisiospiza belli</key>
	<string>gjDQbe3</string>
	<key>Athene cunicularia</key>
	<string>3z4OTMU</string>
	<key>Accipiter gentilis</key>
	<string>GHdFXLA</string>
	<key>New item</key>
	<string>DOmgS34</string>
	<key>Aythya valisineria</key>
	<string>VsmALHk</string>
	<key>Aythya americana</key>
	<string>umPZ1CR</string>
	<key>Anthus spragueii</key>
	<string>PXzPq6t</string>
	<key>Archilochus alexandri</key>
	<string>2x7ZdAg</string>
	<key>Arenaria melanocephala</key>
	<string>Hs4dKn6</string>
	<key>Auriparus flaviceps</key>
	<string>Pqdw7jp</string>
	<key>Aphelocoma wollweberi</key>
	<string>ijE6FD9</string>
	<key>Asio otus</key>
	<string>6Sagi6Y</string>
	<key>Arenaria interpres</key>
	<string>xi33bXr</string>
	<key>Arremonops rufivirgatus</key>
	<string>P6gWjsY</string>
	<key>Ardea herodias</key>
	<string>oLJ2ML8</string>
	<key>Aramus guarauna</key>
	<string>eGNWUgu</string>
	<key>Asio flammeus</key>
	<string>RsyCbTP</string>
	<key>Archilochus colubris</key>
	<string>iFO8zJ7</string>
	<key>Aphelocoma coerulescens</key>
	<string>yiLDFyt</string>
	<key>Ardea alba</key>
	<string>ubD5Mxl</string>
	<key>Antrostomus ridgwayi</key>
	<string>nfqpAcX</string>
	<key>Anthus rubescens</key>
	<string>FJPqK5z</string>
	<key>Anous minutus</key>
	<string>AddFCpO</string>
	<key>Aquila chrysaetos</key>
	<string>9kAJgWO</string>
	<key>Antrostomus vociferus</key>
	<string>iFd0uT1</string>
	<key>Anas rubripes</key>
	<string>5biYoSG</string>
	<key>Anas crecca</key>
	<string>Og7bZsf</string>
	<key>Anas strepera</key>
	<string>ztWmJFA</string>
	<key>Accipiter striatus</key>
	<string>iOyhyWR</string>
	<key>Aphelocoma insularis</key>
	<string>XhbHpuL</string>
	<key>Amphispiza bilineata</key>
	<string>JkSqqqu</string>
	<key>Antrostomus carolinensis</key>
	<string>QpyUc4W</string>
	<key>Anser albifrons</key>
	<string>5tb75dJ</string>
	<key>Anhinga anhinga</key>
	<string>fhOwA1p</string>
	<key>Anous stolidus</key>
	<string>nTVKixO</string>
	<key>Anas wyvilliana</key>
	<string>VeRXQpe</string>
	<key>Acridotheres cristatellus</key>
	<string>eOobMnT</string>
	<key>Anas discors</key>
	<string>TnMc9FS</string>
	<key>Anas cyanoptera</key>
	<string>KPPajuD</string>
	<key>Acridotheres tristis</key>
	<string>lbyXVHt</string>
	<key>Amazona viridigenalis</key>
	<string>1HOe6HO</string>
	<key>Ammodramus savannarum</key>
	<string>J6z2Nh5</string>
	<key>Anas acuta</key>
	<string>1nckhed</string>
	<key>Anas americana</key>
	<string>pScEw5X</string>
	<key>Ammodramus nelsoni</key>
	<string>1o9YIiz</string>
	<key>Amphispiza quinquestriata</key>
	<string>8U3RMMF</string>
	<key>Ammodramus henslowii</key>
	<string>04FQEgh</string>
	<key>Ammodramus maritimus</key>
	<string>sPfsvTR</string>
	<key>Acrocephalus familiaris</key>
	<string>QvhU1ck</string>
	<key>Actitis macularius</key>
	<string>s8QCTGz</string>
	<key>Aechmophorus clarkii</key>
	<string>8429SXA</string>
	<key>Aechmophorus occidentalis</key>
	<string>wRER13l</string>
	<key>Aegolius acadicus</key>
	<string>wX5DDlP</string>
	<key>Aegolius funereus</key>
	<string>mtmOf6h</string>
	<key>Ammodramus caudacutus</key>
	<string>iEbjHEE</string>
	<key>Aeronautes saxatalis</key>
	<string>rR0gI6J</string>
	<key>Aethia cristatella</key>
	<string>xjbJpQw</string>
	<key>Aethia psittacula</key>
	<string>JHxjgyg</string>
	<key>Ammodramus leconteii</key>
	<string>j06L35A</string>
	<key>Aethia pusilla</key>
	<string>WNfqUWd</string>
	<key>Aethia pygmaea</key>
	<string>TrN2Bin</string>
	<key>Agelaius phoeniceus</key>
	<string>RJm44jh</string>
	<key>Agelaius tricolor</key>
	<string>sX3PVyJ</string>
	<key>Aimophila ruficeps</key>
	<string>JucgLah</string>
	<key>Aix sponsa</key>
	<string>f5EzbNt</string>
	<key>Alauda arvensis</key>
	<string>cw3tyE9</string>
	<key>Alca torda</key>
	<string>RghBA2R</string>
	<key>Ammodramus bairdii</key>
	<string>suabTZX</string>
	<key>Alectoris chukar</key>
	<string>iCqv3ia</string>
	<key>Alle alle</key>
	<string>VTlpI3w</string>
	<key>Amazilia violiceps</key>
	<string>VqJwRc0</string>
	<key>Amazilia yucatanensis</key>
	<string>dX3ce0O</string>
	<key>Acanthis hornemanni</key>
	<string>nBf78cL</string>
</dict>
</plist>
